/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */

html {
  background-color: black; /* for working only */
  font-size: 18px; /* as required */
  font-family: Helvetica
}

a {
  color: white;
  text-decoration: none; /* to remove underlines */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  height: 32rem;
  border: 1px dotted white; /*for working only */

}

.sitecontainer {
  width: 960px;
  /* margin: auto 0; */
  display: flex;
  justify-content: flex-start;
  border: 1px dotted white; /* for working only */
}

/* Header section */

.header {
  background-color: cadetblue; /* as required */
  color: white;
  line-height: 1.4; /* as required */
  top: 1rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 1rem;
/*  position: absolute;
  top: 1rem; */ /* <-- didn't work */
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.logo img {
  padding-left: 2rem;
}

.logo h1 {
  padding-left: 1rem;
}

.navigation ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation li {
  padding: 1rem 2rem;
}

.header img {
  height: 1.5rem; /* as required */
}
