/* "Tamming" Box Model With Reset */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */

html {
  background-color: black; /* for working only */
  font-size: 18px; /* as required */
  font-family: Helvetica
}

a {
  color: white;
  text-decoration: none; /* to remove underlines */
}

.main {
  display: flex;
  justify-content: center;
}

.sitecontainer {
  width: 960px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  border: 1px dotted white; /* for working only */
}

/* Header section */

.header {
  background-color: cadetblue; /* as required */
  color: white;
  line-height: 1.4; /* as required */
  position: fixed;
  top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header img {
  height: 1.5rem; /* as required */
}
